html {
  height: 100%;
}

a {
  color:#333;
  text-decoration: underline;
}

@font-face {
    font-family: 'juraregular';
    src: url('../font/jura-regular-webfont.eot');
    src: url('../font/jura-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/jura-regular-webfont.woff') format('woff'),
         url('../font/jura-regular-webfont.ttf') format('truetype'),
         url('../font/jura-regular-webfont.svg#juraregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
  font-family:Helvetica, sans-serif;
  font-size:15px;
  color:#333;
  margin:0px;
  background-color:#f5f5f5;
  background-image: url("../img/gray_jean.png");
}

#who-h {
  max-width: 640px;
  margin: 50px auto 20px auto;
  text-align: center;
}

#who-img {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.64);
  -moz-box-shadow:    0px 0px 16px rgba(0, 0, 0, 0.64);
  box-shadow:         0px 0px 16px rgba(0, 0, 0, 0.64);
}

#who-h1, #who-h2 {
  margin:0px;
  padding:20px 0px 0px 0px;
  font-size:40px;
  text-shadow: 0px 1px 0 rgba(250, 250, 250, 0.75);
  font-family: 'juraregular', serif;
  font-weight: 400;
}

#who-h2 {
  font-size:24px;
  padding:0px 0px 20px 0px;
}

#posts-l {
  position:relative;
  max-width:420px;
  margin:0px auto 10px auto;
  list-style: none;
  list-style-position: inside;
  color:#2781ce;
  padding:10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-family: 'juraregular', serif;
  font-weight: 400;
}

#posts-l-o {
  background-color:#7ca8ce;
  opacity:0.1;
  filter:alpha(opacity=10); /* For IE8 and earlier */
  position:absolute;
  top:0px;
  left:0px;
  right:0px;
  bottom: 0px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.post-i {
  padding:4px 5px 4px 5px;
  margin:0px auto 0px auto;
  position: relative;
}

.post-i-lnk {
  color:#5998ce;
  font-size:16px;
  text-decoration: none;
  font-weight: 400;
  z-index:5;
  position: relative;
  text-shadow: 0px 1px 0 rgba(255, 255, 255, 0.75);
}

.post-i-lnk:hover {
  text-decoration:underline;
}

#post-w {
  max-width:840px;
  background-color:white;
  -webkit-box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.16);
  -moz-box-shadow:    0px 0px 24px rgba(0, 0, 0, 0.16);
  box-shadow:         0px 0px 24px rgba(0, 0, 0, 0.16);
  margin:auto;
  position: relative;
  margin-top:0px;
}

#post-h {
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-attachment: scroll;
  height: 280px;
  position: relative;
}

#post-h-shadow {
  position:absolute;
  bottom:0px;
  left:0px;
  height: 50px;
  width:100%;
  background-image: url("../img/bg-post-t.png");
  background-repeat: repeat-x;
}

#post-t, #post-t-noimg {
  margin:0px;
  padding:20px 80px 10px 80px;
  font-size:34px;
  text-shadow: 0px 1px 0 rgba(250, 250, 250, 0.75);
  font-family: 'juraregular', serif;
  font-weight: 400;
}

#post-t-noimg {
  padding-top:100px;
}

#post-d {
  position:absolute;
  margin:0px;
  top: 0px;
  left:80px;
  width:90px;
  height: 90px;
  color: white;
  text-shadow: 0px 1px 0 rgba(0, 0, 0, 0.25);
  text-align: center;
  background-image: url("../img/bg-date.png");
  background-repeat: no-repeat;
  font-family: 'juraregular', serif;
}

#post-d-day {
  padding-top:5px;
  font-size: 30px;
  display:block;
}

#post-d-month {
  font-size: 13px;
  display: block;
}

#post {
  padding:10px 80px 40px 80px;
  font-family: 'Alike', serif;
  line-height:180%;
  font-weight:400;
  font-size:1.23em;
  text-shadow: 0px 1px 0 rgba(250, 250, 250, 0.75);
}

#post > h2 {
	font-family: 'juraregular', serif;
	font-weight: 400;
}

#post-s {
  margin:0px auto 0px auto;
  padding:0px 80px 10px 80px;
  list-style: none;
}

.post-s-i {
  float:left;
  margin-right: 10px;
}

#post-s:after {
  content: "";
  display: table;
  clear: both;
}

#post-home-lnk {
  background-color:white;
  margin: -70px auto 20px auto;
  display: block;
  background-size: 100% 100%;
  width: 90px;
  height: 90px;
  background-image: url('../img/me.png');
  text-indent: -9999px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.64);
  -moz-box-shadow:    0px 0px 6px rgba(0, 0, 0, 0.64);
  box-shadow:         0px 0px 6px rgba(0, 0, 0, 0.64);
}

#post-c {
  position:relative;
  background-color:#fcfcfc;
  padding:30px 80px 30px 80px;
  margin-top:30px;
  list-style: none;
  border-top: 1px solid #f2f2f2;
}

p {
  margin-top: 0px;
  margin-bottom: 10px;
}